{% extends 'base.html' %}
{% load crispy_forms_tags %}  
{% comment %} harus di import? gunanya? wajib adakah? {% endcomment %}

{% block content %}
    <h2 class = "details-title">Add Mata Kuliah</h2>
    <h4 class = "details-subtitle">Right Here</h4>
        <div class="col-md-12 center">
            <form method = "POST">
                {% csrf_token %}
                {{ form|crispy }}  
                {% comment %} what is this? {% endcomment %}
                <input class="btn1" type="submit" value="Submit">
            </form>
        </div>
{% endblock %}