{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row row1">
            <div class="col-6 col-md-6">
                <h2 class="title">Welcome to my site, your presence brings me delight</h2>
            </div>
        </div>
        <div class="row row-subtype">
            <div class="col-md-2 col-img">
                <img src="https://files.catbox.moe/4uwhkp.png" alt="project" width="100%" height="auto">
            </div>
            <div class="col-md-10 col-info"> 
                <div class="col-center">
                    <h2 class="details-title">projects</h2>
                    <p class="details-text">check out all of my projects, ranging from things related to art, technologies, and even literatures</p>
                    <a href="{% url 'project' %}" class="btn1">OPEN</a> 
                </div>
            </div>
        </div>
        <div class="row row-subtype">
            <div class="col-md-2 col-img">
                <img src="https://files.catbox.moe/xleuuc.png" alt="cv" max width="100%" height="auto">
            </div>
            <div class="col-md-10 col-info"> 
                <div class="col-center">
                    <h2 class="details-title">cv</h2>
                    <p class="details-text">read through my profile and background without having to download it</p>
                    <a href="{% url 'profile' %}" class="btn1">OPEN</a>
                </div>
            </div>
        </div>
        <div class="row row-subtype">
            <div class="col-md-2 col-img">
                <img src="https://files.catbox.moe/03x8n4.png" alt="portofolio" max width="100%" height="auto">
            </div>
            <div class="col-md-10 col-info"> 
                <div class="col-center">
                    <h2 class="details-title">interest</h2>
                    <p class="details-text">explore all of my reviews on my interests, such as entertainment, literature, etc, right here</p>
                    <a href="{% url 'interest' %}" class="btn1">OPEN</a>
                </div>
            </div>
        </div>
        <div class="row row-subtype">
            <div class="col-md-2 col-img">
                <img src="https://files.catbox.moe/ce4qo3.png" alt="courses" max width="100%" height="auto">
            </div>
            <div class="col-md-10 col-info"> 
                <div class="col-center">
                    <h2 class="details-title">courses</h2>
                    <p class="details-text">go through all of the courses I've taken so far</p>
                    <a href="{% url 'list_matkul' %}" class="btn1">OPEN</a>
                </div>
            </div>
        </div>                  
{% endblock %}