{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row-topic">
            <div class="col">
                <h2 class="details-title">Movies</h2>
            </div>
        </div>
        <div class="row row-topic-left">
            <div class="col-md-2 col-img">
                <img src="https://files.catbox.moe/tgo50z.jpg" alt="underwater" max width="75%" height="auto">
            </div>
            <div class="col-md-10 col-info"> 
                <div class="col-center">
                    <div class="details">
                        <h3 class="details-subtitle">Underwater</h3>
                        <p class="details-text">An amazing sci-fi movie which frightened the audience with the uncertainity of some underwater's fact.
                        Has interesting characters' development with fitting build up tension.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-topic-left">
            <div class="col-md-2 col-img">
                <img src="https://files.catbox.moe/vslhr8.jpg" alt="boy" max width="75%" height="auto">
            </div>
            <div class="col-md-10 col-info"> 
                <div class="col-center">
                    <div class="details">
                        <h3 class="details-subtitle">The Boy</h3>
                        <p class="details-text">One of my favorite horror movie, but don't be tricked by its cover plot 
                        because one single truth can be as shocking as the fright you may feel. Unexpected plot twist with quite interesting characters.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-topic">
            <div class="col">
                <h2 class="details-title">Musics</h2>
            </div>
        </div>
        <div class="row row-topic-left">
            <div class="col-md-2 col-img">
                <img src="https://files.catbox.moe/ntkyh2.jpg" alt="patd1" max width="75%" height="auto">
            </div>
            <div class="col-md-10 col-info"> 
                <div class="col-center">
                    <div class="details">
                        <h3 class="details-subtitle">Hey Look Ma, I Made It</h3>
                        <p class="details-text">A music by Panic! At The Disco.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-topic-left">
            <div class="col-md-2 col-img">
                <img src="https://files.catbox.moe/tir8s1.jpg" alt="fob1" max width="75%" height="auto">
            </div>
            <div class="col-md-10 col-info"> 
                <div class="col-center">
                    <div class="details">
                        <h3 class="details-subtitle">My Songs Know What You Did In The Dark</h3>
                        <p class="details-text">A music by Fall Out Boy.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-topic">
            <div class="col">
                <h2 class="details-title">Games</h2>
            </div>
        </div>
        <div class="row row-topic-left">
            <div class="col-md-2 col-img">
                <img src="https://files.catbox.moe/lirxq6.jpg" alt="dbh" max width="75%" height="auto">
            </div>
            <div class="col-md-10 col-info"> 
                <div class="col-center">
                    <div class="details">
                        <h3 class="details-subtitle">Detroit: Become Human</h3>
                        <p class="details-text">Developed by Quantic Dream, this adventure game centered around androids and their struggle against society for their identity.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-topic-left">
            <div class="col-md-2 col-img">
                <img src="https://files.catbox.moe/ky9fwe.jpg" alt="re6" max width="75%" height="auto">
            </div>
            <div class="col-md-10 col-info"> 
                <div class="col-center">
                    <div class="details">
                        <h3 class="details-subtitle">Resident Evil 6</h3>
                        <p class="details-text">As part of the Resident Evil Franchise, Resident Evil 6 consists of 3 stories including the infamous Chris Redfield and Leon S. Kennedy.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
