{% extends 'base.html' %}

{% block content %}
    <h2 class = "details-title">All Mata Kuliah</h2>

    {% if mataKuliah %}
        <div class = "row"> {% comment %} nanti ubah {% endcomment %}
        {% for i in mataKuliah %}
            <div class = "col-auto">  {% comment %} nanti ubah {% endcomment %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="details-subtitle">{{ i.name }}</h5>
                        <p class="details-text">Kelas : {{ i.classes }}</p>
                        <p class="details-text">Dosen : {{ i.dosen }}</p>
                        <a href="{% url 'specified_matkul' id=i.id %}" class="card-link">Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <p class="text-muted">There is no game- I mean content :)</p>
    {% endif %}

    <a href="{% url 'add_matkul' %}" class="btn1"> ADD </a>

{% endblock %}