{% extends 'base.html' %}

{% block content %}
<body class="bg-profile">
    <div class="container">
        <div class="row row-box row-center">
            <div class="col-md-8 col-info">
                <h2 class="details-title">Hulo, the name's Kef!</h2>
                <p class="details-text">"I don't have many experiences nor am I an expert in this field but I'm quite desperate so here we are."</p>
            </div>
            <div class="col-md-4 col-img">
                <img src="https://files.catbox.moe/rk5bg8.jpg" alt="project" width="90%">
            </div>
        </div>
        <div class="row row-box"> 
            <div class="row">
                <div class="col-md-6">
                    <h3 class="details-subtitle">Who am I?</h3>
                    <p class="details-text">I am an {{ age }} year old student who currently studying {{ major }} at {{ uni }}. 
                    I am a hard-working person who values moral above all. While I usually works with information technologies and basic accounting, 
                    I have fairly deep interest in learning law and psychology. I view the world as it is and trying to be as realistic and objective as I can. 
                    I use English as my second language but I can read Mandarin and quite a few Spanish sentences.</p>
                </div>
                <div class="col-md-6">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="col-md-12 col-list">
                                <div class="col-md-6 col-left">
                                    <h5 class="details-subtitle list-left">full name</h5>
                                </div>
                                <div class="col-md-6 col-right">
                                    <p class="details-text list-right">{{ name }}</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="col-md-12 col-list">
                                <div class="col-md-6 col-left">
                                    <h5 class="details-subtitle list-left">birth date</h5>
                                </div>
                                <div class="col-md-6 col-right">  
                                    <p class="details-text list-right">{{ birthday }}</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="col-md-12 col-list">
                                <div class="col-md-6 col-left">
                                    <h5 class="details-subtitle list-left">npm</h5>
                                </div>
                                <div class="col-md-6 col-right">  
                                    <p class="details-text list-right">{{ npm }}</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="col-md-12 col-list">
                                <div class="col-md-6 col-left">
                                    <h5 class="details-subtitle list-left">gen</h5>
                                </div>
                                <div class="col-md-6 col-right">  
                                    <p class="details-text list-right">{{ angkatan }}</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="col-md-12 col-list">
                                <div class="col-md-6 col-left">
                                    <h5 class="details-subtitle list-left">major</h5>
                                </div>
                                <div class="col-md-6 col-right">  
                                    <p class="details-text list-right">{{ major }}</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="col-md-12 col-list">
                                <div class="col-md-6 col-left">
                                    <h5 class="details-subtitle list-left">uni</h5>
                                </div>
                                <div class="col-md-6 col-right">  
                                    <p class="details-text list-right">{{ uni }}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row row-center">
                <div class="col-md-6">
                    <h4 class="title-box details-subtitle">educations</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="col-md-12 col-list">
                                <div class="col-md-6 col-left">
                                    <h5 class="details-subtitle list-left">2019-present</h5>
                                </div>
                                <div class="col-md-6 col-right">  
                                    <p class="details-text list-right">Universitas Indonesia</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="col-md-12 col-list">
                                <div class="col-md-6 col-left">
                                    <h5 class="details-subtitle list-left">2017-2019</h5>
                                </div>
                                <div class="col-md-6 col-right">  
                                    <p class="details-text list-right">SMAN 78 Jakarta</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="col-md-12 col-list">
                                <div class="col-md-6 col-left">
                                    <h5 class="details-subtitle list-left">2014-2017</h5>
                                </div>
                                <div class="col-md-6 col-right">  
                                    <p class="details-text list-right">SMPK Ipeka Tomang 2</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="col-md-12 col-list">
                                <div class="col-md-6 col-left">
                                    <h5 class="details-subtitle list-left">2010-2014</h5>
                                </div>
                                <div class="col-md-6 col-right">  
                                    <p class="details-text list-right">SDK Ipeka Tomang</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h4 class="title-box details-subtitle">organizations</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="col-sm-12 col-list">
                                <div class="col-md-6 col-left">
                                    <h5 class="details-subtitle list-left">2019-present</h5>
                                </div>
                                <div class="col-md-6 col-right">  
                                    <p class="details-text list-right">Chairman of Law Commission DPM Fasilkom UI</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="col-sm-12 col-list">
                                <div class="col-md-6 col-left">
                                    <h5 class="details-subtitle list-left">2019-2019</h5>
                                </div>
                                <div class="col-md-6 col-right">  
                                    <p class="details-text list-right">Staff of Verification and Supervision Politics Pemira IKM Fasilkom UI</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row text-only">
            <div class="col" id="text2">
                <h6 class="details-subtitle">hit me up on:</h6>
            </div>
        </div>
        <div class="row col-list3">
            <div class="col-md-3">
                <a href="https://www.instagram.com/kevin_af__/"><img src="https://files.catbox.moe/0ixxa4.png" alt="instagram" width="17%" class=" col-icon"></a>
            </div>
            <div class="col-md-3">
                <a href="https://twitter.com/kevin_af__"><img src="https://files.catbox.moe/7k5ho6.png" alt="twitter" width="17%" class=" col-icon"></a>

            </div>
            <div class="col-md-3">
                <a href="https://www.linkedin.com/in/kevinafeliearihadi02/"><img src="https://files.catbox.moe/66jbac.png" alt="linkedin" width="17%" class=" col-icon"></a>
            </div>
            <div class="col-md-3">
                <a href="mailto:kevin.arihadi@gmail.com"><img src="https://files.catbox.moe/2okg6r.png" alt="gmail" width="17%" class=" col-icon"></a>
            </div>
        </div>
    </div>
</body>
{% endblock %}
