{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row col-list2">
            <div class="col-md-4">
                <a href="{% url 'index' %}" class="card1">STORY 1</a>
            </div>
            <div class="col-md-4">
                <a href="https://www.figma.com/file/3Bk9dFXEdT3CYaZCSK2AkD/Story-2?node-id=55%3A7" class="card1">STORY 2</a>

            </div>
            <div class="col-md-4">
                <a href="{% url 'home' %}" class="card1">STORY 3</a>
            </div>
        </div>
        <div class="row text-only">
            <div class="col-md-12" id="text1">
                <h4 class="details-subtitle" id="cs">project on progress . . .</h4>
            </div>
        </div>
    </div>
{% endblock %}