{% extends 'base.html' %}

{% block content %}
    <h2 class="details-title"> {{ mataKuliah.name }} </h2>

    <div class="detail font-small">
        <table width=100%>
            <tr>
                <th>SKS</th>
                <th>: {{ mataKuliah.sks }}</th>
            </tr>
            <tr>
                <th>Kelas</th>
                <th>: {{ mataKuliah.classes }}</th>
            </tr>
            <tr>
                <th>Dosen</th>
                <th>: {{ mataKuliah.dosen }}</th>
            </tr>
            <tr>
                <th>Semester</th>
                <th>: {{ mataKuliah.semester }}</th>
            </tr>
        </table>
    </div>

    <br>
    <br>

    <div class="description">
        <h3 class="details-subtitle">Deskripsi</h3>
        <p class="details-text">{{ mataKuliah.desc }}</p>
    </div>

    <a href="{% url 'delete_matkul' mataKuliah.id %}" class="btn1"> DELETE </a>


{% endblock %}