* {
    box-sizing: border-box;
}

body{
    background-color: #EDF2F3;
}

.bg-profile {
    background-image: url("https://files.catbox.moe/moxjhn.jpg");
    background-size: cover;
}

.topnav {
    position: relative;
    overflow: hidden;
}
  
.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
}

.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.navbar-brand {
    letter-spacing: 20px;
}

.row1 {
    background-image: url("https://files.catbox.moe/be6i7s.jpg");
    background-size: cover;
}

.row-center {
    margin: auto;
    padding: 5% 5%;
    display: flex;
    justify-content: center;
}

.row2 {
    margin-top: 20%;
    margin-bottom: 20%;
}

.row-topic {
    margin-top: 30px;
    margin-bottom: 25px;
    background-color: white;
}

.row-box {
    background-color: white;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    padding: 5% 5%;
}

.row-subtype {
    margin-bottom: 50px;
    margin-top: 50px;
}

.row-topic-left {
    margin: auto;
    margin-top: 13px;
}

.col-info {
    margin-top: 5%;
    margin-bottom: 5%;
}

.col-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3% 0%;
}

.col-list2 {
    padding: 15% 3%;
}

.col-list3 {
    display: flex;
    justify-content: center;
    padding: 1% 3%;
    margin-bottom: 10%;
}

.col-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-list {
    display: flex;
    justify-content: center;
    text-align:center;
}

.col-left {
    float: right;
}

.col-right {
    float: left;
}

.col-center {
    margin: auto;
}

.list-left {
    text-align: right;
}

.list-right {
    text-align: left;
}

.title {
    font-family: 'Antic Didone', serif;
    color: #EDF2F3;
    margin-left: 20%;
    margin-top: 30%;
    margin-bottom: 30%;
    margin-right: 5%;
    vertical-align: middle;
    text-align: right;
}

.details-title {
    font-family: 'Antic Didone', serif;
    color: #9A6D3F;
}

.details-subtitle {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 500;
    color: #08193C;
}

.details-text {
    font-family: 'Abel', sans-serif;
    color: #08193C;
}

.text-only {
    display: flex;
    justify-content: center;
    padding: 1% 5%;
}

#text1 {
    padding: 23% 5%;
    text-align: center;
}

#cs {
    font-size: 42px;
    color: #9A6D3F;
    font-weight: 400;
    letter-spacing: 3px;
}

#text2 {
    padding: 0px 5%;
    text-align: center;
}

.title-box {
    background-color: #9A6D3F;
    padding: 4% 5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn1 {
    background-color: #EDF2F3;
    color: #08193C;
    border: 1px solid #08193C;
    padding: 6px 30px;
    text-align: center;
    font-family: 'Abel', sans-serif;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.5s;
}

.btn1:hover {
    background-color: #08193C;
    color: #EDF2F3;
}

.card1:link {
    background-color: #EDF2F3;
    color: #08193C;
    border: 3px solid #08193C;
    transition-duration: 0.5s;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 500;
    font-size: 25px;
    padding: 30% 30%;
    position: absolute;
}

.card1:hover {
    background-color: #08193C;
    color: #EDF2F3;        
}